{
  "presets": ["@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}